.item {
    border: 1px solid #f3f3f3;
    padding:25px;
    width: 185px;
    margin-right: 30px;
    margin-bottom: 30px;

    .addToCard {
      cursor: pointer;
      margin: 0 10px 0 10px
    }
    
  
    h5{
      font-weight: 700;
      font-size: 14px;
    }
    b {
      font-size: 13px;
    }
  }
  .button {
    background: #FFFFFF;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    margin-left: 30px;
    cursor: pointer;
  }
  .price {
    padding-right: 10px;
    font-size: 12px;
  }

