body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
  background-color: #000;
}
button, input {
  font-family: 'Roboto Condensed', sans-serif;
}
.wrapper {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  max-width: 1280px;
  margin:0 auto;
}
header {
  padding: 25px;
  border-bottom: 1px solid #f4f4f4;
  background-color: #000;
    img {
      margin-right:  20px;
    }

    h3, p {
      margin: 0;
      color: #fff
    }
    span {
      color: #fff;
      font-size: 24px;
    }

}

.search__box {
  border: 1px solid #f2f2f2;
  padding: 0 15px;
  input {
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 200px;
  }
}
.rightBar {
  display: flex;
  overflow: auto;
  flex-direction: column;
  position: absolute;
  right: 0;
  height: 100%;
  width: 380px;
  background:#fff;
  box-shadow: -10px 4px 24px rgba(0,0,0,0.1);
  padding: 40px;
  .items {
    flex: 1;
    overflow: auto;
  }
  h2 {
    margin: 0;
  }
}
.rightBarShadow {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.cartItem {
  border: 1px solid #f3f3f3;
  overflow: hidden;
  p {
    font-size: 14px;
  }
  b {
    font-size: 16px;
  }
  .buttonRemove {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}
.totalBlock {
  margin-top: 40px;
  li {
    display: flex;
    align-items: flex-end;
    margin-bottom: 19px;
  }
  div {
    flex: 1;
    margin: 0 10px;
    height: 1px;
    border-bottom: 1px dashed #dfdfdf;
    position: relative;
    top: -4px;
  }
  button {
    width: 100%;
    background-color: #000;
    height: 50px;
    color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    &:hover {
      background-color: #fff;
      color: #000;
     
      transition-duration: 0.5s;
    }
    &:active {
      background-color: darken(#000, 5%);
      color: #fff;
    }
  }
}